---
swagger: "2.0"
info:
  title: PayPal (Sandbox)
  description: Bring payments to apps, mobile and social with Adaptive Payments &lt;b&gt;(Sandbox
    API).&lt;/b&gt;
  version: 1.0.0
host: svcs.sandbox.paypal.com
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /AdaptiveAccounts/AddBankAccount:
    post:
      summary: Add Bank Account
      description: The AddBankAccount API operation lets your application set up bank
        accounts as funding sources for PayPal accounts
      operationId: AdaptiveAccounts.AddBankAccount.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Bank Account
  /AdaptiveAccounts/AddPaymentCard:
    post:
      summary: Add Payment Card
      description: The AddPaymentCard API operation lets your application set up credit
        cards as funding sources for PayPal accounts
      operationId: AdaptiveAccounts.AddPaymentCard.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Credit Card
  /AdaptiveAccounts/CreateAccount:
    post:
      summary: Create Account
      description: The CreateAccount API operation enables you to create a PayPal
        account on behalf of a third party
      operationId: AdaptiveAccounts.CreateAccount.post
      parameters:
      - in: header
        name: X-PAYPAL-SANDBOX-EMAIL-ADDRESS
      responses:
        200:
          description: OK
      tags:
      - Payments
  /AdaptiveAccounts/GetUserAgreement:
    post:
      summary: Get User Agreement
      description: The GetUserAgreement API operation lets you retrieve the user agreement
        for the customer to approve the new PayPal account
      operationId: AdaptiveAccounts.GetUserAgreement.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Aggreements
  /AdaptiveAccounts/GetVerifiedStatus:
    post:
      summary: Get Verified Status
      description: The GetVerifiedStatus API operation lets you check if a PayPal
        account status is verified
      operationId: AdaptiveAccounts.GetVerifiedStatus.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Verified
      - Status
  /AdaptiveAccounts/SetFundingSourceConfirmed:
    post:
      summary: ' Set Funding Source Confirmed'
      description: The SetFundingSourceConfirmed API operation lets your application
        set up bank accounts as funding sources for PayPal accounts
      operationId: AdaptiveAccounts.SetFundingSourceConfirmed.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Verified
      - Status
  /AdaptivePayments/CancelPreapproval:
    post:
      summary: Cancel Preapproval
      description: Use the CancelPreapproval API operation to handle the canceling
        of preapprovals
      operationId: AdaptivePayments.CancelPreapproval.post
      responses:
        200:
          description: OK
      tags:
      - Payments
  /AdaptivePayments/ConvertCurrency:
    post:
      summary: Convert Currency
      description: Use the ConvertCurrency API operation to request the current foreign
        exchange (FX) rate for a specific amount and currency
      operationId: AdaptivePayments.ConvertCurrency.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Currency
  /AdaptivePayments/ExecutePayment:
    post:
      summary: Execute Payment
      description: The ExecutePayment API operation lets you execute a payment set
        up with the Pay API operation with the actionType CREATE
      operationId: AdaptivePayments.ExecutePayment.post
      responses:
        200:
          description: OK
      tags:
      - Payments
  /AdaptivePayments/GetFundingPlans:
    post:
      summary: Get Funding Plans
      description: Use the GetFundingPlans API operation to determine the funding
        sources that are available for a specified payment, identified by its key,
        which takes into account the preferences and country of the receiver as well
        as the payment amount
      operationId: AdaptivePayments.GetFundingPlans.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Plans
  /AdaptivePayments/GetPaymentOptions:
    post:
      summary: Get Payment Options
      description: You use the GetPaymentOptions API operation to retrieve the payment
        options passed with the SetPaymentOptionsRequest
      operationId: AdaptivePayments.GetPaymentOptions.post
      responses:
        200:
          description: OK
      tags:
      - Payments
  /AdaptivePayments/GetShippingAddresses:
    post:
      summary: Get Shipping Addresses
      description: Use the GetShippingAddresses API operation to obtain the selected
        shipping address
      operationId: AdaptivePayments.GetShippingAddresses.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Addresses
  /AdaptivePayments/Pay:
    post:
      summary: Pay
      description: "Use the Pay API operation to transfer funds from a sender\u2019s
        PayPal account to one or more receivers\u2019 PayPal accounts"
      operationId: AdaptivePayments.Pay.post
      responses:
        200:
          description: OK
      tags:
      - Payments
  /AdaptivePayments/PaymentDetails:
    post:
      summary: Payment Details
      description: Use the PaymentDetails API operation to obtain information about
        a payment
      operationId: AdaptivePayments.PaymentDetails.post
      responses:
        200:
          description: OK
      tags:
      - Payments
  /AdaptivePayments/Preapproval:
    post:
      summary: Preapproval
      description: "Use the Preapproval API operation to set up an agreement between
        yourself and a sender for making payments on the sender\u2019s behalf"
      operationId: AdaptivePayments.Preapproval.post
      responses:
        200:
          description: OK
      tags:
      - Payments
  /AdaptivePayments/PreapprovalDetails:
    post:
      summary: Preapproval Details
      description: "Use the PreapprovalDetails API operation to obtain information
        about an agreement between you and a sender for making payments on the sender\u2019s
        behalf"
      operationId: AdaptivePayments.PreapprovalDetails.post
      responses:
        200:
          description: OK
      tags:
      - Payments
  /AdaptivePayments/Refund:
    post:
      summary: Refund
      description: Use the Refund API operation to refund all or part of a payment
      operationId: AdaptivePayments.Refund.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Refunds
  /AdaptivePayments/SetPaymentOptions:
    post:
      summary: Set Payment Options
      description: You use the SetPaymentOptions API operation to specify settings
        for a payment of the actionType CREATE
      operationId: AdaptivePayments.SetPaymentOptions.post
      responses:
        200:
          description: OK
      tags:
      - Payments
  /Invoice/Cancel Invoice:
    post:
      summary: Cancel Invoice
      description: Use the CancelInvoice API operation to cancel an invoice
      operationId: Invoice.CancelInvoice.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Invoices
  /Invoice/CreateAndSendInvoice:
    post:
      summary: Create And Send Invoice
      description: Use the CreateAndSendInvoice API operation to create and send an
        invoice
      operationId: Invoice.CreateAndSendInvoice.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Invoices
  /Invoice/CreateInvoice:
    post:
      summary: Create Invoice
      description: Use the CreateInvoice API operation to create a new invoice
      operationId: Invoice.CreateInvoice.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Invoices
  /Invoice/GetInvoiceDetails:
    post:
      summary: Get Invoice Details
      description: Use the GetInvoiceDetails API operation to get detailed information
        about an invoice
      operationId: Invoice.GetInvoiceDetails.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Invoices
  /Invoice/MarkInvoiceAsPaid:
    post:
      summary: Mark Invoice As Paid
      description: Use the MarkInvoiceAsPaid API operation to mark an invoice as paid
      operationId: Invoice.MarkInvoiceAsPaid.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Invoices
  /Invoice/SearchInvoices:
    post:
      summary: Search Invoices
      description: Use the SearchInvoice API operation to search an invoice
      operationId: Invoice.SearchInvoices.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Invoices
      - Search
  /Invoice/SendInvoice:
    post:
      summary: Send Invoice
      description: Use the SendInvoice API operation to send an invoice to a payer,
        and notify the payer of the pending invoice
      operationId: Invoice.SendInvoice.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Invoices
  /Invoice/UpdateInvoice:
    post:
      summary: Update Invoice
      description: Use the UpdateInvoice API operation to update an invoice
      operationId: Invoice.UpdateInvoice.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Invoices
  /Permissions/CancelPermissions:
    post:
      summary: Cancel Permissions
      description: Use the CancelPermissions API operation to cancel access to a set
        of permissions
      operationId: Permissions.CancelPermissions.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Permissions
  /Permissions/GetAccessToken:
    post:
      summary: GetAccess Token
      description: Use the GetAccessToken API operation to obtain an access token
        for a set of permissions
      operationId: Permissions.GetAccessToken.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Access Tokens
  /Permissions/GetAdvancedPersonalData:
    post:
      summary: Get Advanced Personal Data
      description: Use the GetAdvancedPersonalData API operation to obtain sensitive
        personal data for an account holder
      operationId: Permissions.GetAdvancedPersonalData.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Profiles
  /Permissions/GetBasicPersonalData:
    post:
      summary: Get Basic Personal Data
      description: Use the GetBasicPersonalData API operation to obtain basic personal
        data for an account holder
      operationId: Permissions.GetBasicPersonalData.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Profiles
  /Permissions/GetPermissions:
    post:
      summary: Get Permissions
      description: Use the GetPermissons API operation to obtain the permissions associated
        with an access token
      operationId: Permissions.GetPermissions.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Permissions
  /Permissions/RequestPermissions:
    post:
      summary: Request Permissions
      description: "Use the RequestPermissions API operation to request permissions
        to execute API operations on a PayPal account holder\u2019s behalf"
      operationId: Permissions.RequestPermissions.post
      responses:
        200:
          description: OK
      tags:
      - Payments
      - Permissions
definitions: []
---